<div class="dropdown">
    <a href="#" id="imageDropdown" data-toggle="dropdown">
        <img src="{{user.logo}}" id="logo" class="rounded-circle" style="width: 57px;height: 57px" alt="logo Saludo">
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/change_welcome">Cambiar Saludo</a>
        <a class="dropdown-item" href="/password">Cambiar Password</a>
        <a class="dropdown-item" href="/logout">Logout</a>
      
    </div>
</div>

