<form action="/change_welcome" method="POST" >
    

    <h1>Tu Nombre Actual es: {{user.person}}</h1>
    <input type="text" name="person" placeholder="Insert New Name">
    
    

    <button type="submit">
        Cambiar Nombre
    </button>

</form>