<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <a href="controlPanel/images" class="btn btn-outline-success" type="button">Upload Images</a>
        <a href="controlPanel/videos" class="btn btn-outline-success" type="button">Upload Videos</a>
        <a href="controlPanel/pdfs" class="btn btn-outline-success" type="button">Upload Audio</a>
    </form>
</nav>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <a href="signup" class="btn btn-outline-success" type="button">Create User</a>
        <a href="/controlPanel/impresions" class="btn btn-outline-success" type="button">Upload Impresions</a>


    </form>
</nav>