<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volcano Web App</title>
    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- font Awesome -->
    <script src="https://kit.fontawesome.com/2c24057141.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/style.css">

</head>

<body>

    <div class="container">
        <div class="logo">
            <img class="mx-auto mt-5 d-block" src="/public/img/vol_marketing_combined.png" alt="">
        </div>
        <div class="row my-5">
            <div class="col-md-4 mx-auto">
                <div class="card mt-4 text-center">
                    <div class="card-header">
                        <h1 class="h4">
                            Account Login
                        </h1>
                    </div>
                    <div class="card-body">
                        <form action="/" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="client" placeholder="User" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <button class="btn btn-dark btn-block">
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Footer -->
    <footer class="footer">


        <img class="float-right pr-2" src="/public/img/capo3.png" alt="">
        <img class="float-left pl-2 pt-2" src="/public/img/indo_america.png" alt="">


    </footer>
    <!-- Footer -->




    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>