<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Volcano Web App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="jquerymain.js"></script>
</head>

<body>

    <div class="main_page mx-auto pt-3 pb-3">
        <div class="main_row1">
            <div id="container_vol_res">
                <img src="/public/img/fondo_vol_metrica.png" alt="Vol Research Menu" name="vol_research_menu"
                    id="vol_research_menu">
                <div class="centered">
                    <ul style="list-style-type: none">
                        <li><a href="#">tabla</a></li>
                        <li><a href="#">gráfico</a></li>
                        <li><a href="#">informe</a></li>
                    </ul>
                </div>
            </div>
            <div id="container_vol_report">
                <img id="vol_report_menu" src="/public/img/fondo_vol_metrica.png" alt="Vol Report Menu">
                <div class="centered">
                    <ul style="list-style-type: none">
                        <li><a href="/vol-report-fotografia">fotografía</a></li>
                        <li><a href="/vol-report-video">video</a></li>
                        <li><a href="#">video 360</a></li>
                        <li><a href="/vol-report-audio">audio</a></li>
                        <li><a href="#">informe</a></li>
                    </ul>
                </div>
            </div>

            <div class="container_menu">
                <input type="image" id="vol_research" alt="Vol Research" src="/public/img/vol_research.png" />
                <input type="image" id="vol_report" src="/public/img/vol_report.png" alt="link a Vol " />
            </div>

        </div>
        <div class="main_row2">

            <div id="container_vol_media">
                <img id="vol_media_menu" src="/public/img/fondo_vol_metrica.png" alt="Vol Research Menu">
                <div class="centered">
                    <ul style="list-style-type: none">
                        <li><a href="#">intro</a></li>
                        <li><a href="#">presentación</a></li>
                        <li><a href="#">impresión</a></li>
                        <li><a href="#">diseño</a></li>
                    </ul>
                </div>
            </div>
            <div id="container_vol_data">
                <img id="vol_data_menu" src="/public/img/fondo_vol_metrica.png" alt="Vol Report Menu">
                <div class="centered">
                    <ul style="list-style-type: none">
                        <li><a href="#">database</a></li>
                        <li><a href="#">informe</a></li>
                    </ul>
                </div>
            </div>

            <div class="container_menu2">
                <input type="image" id="vol_media" src="/public/img/vol_media.png" alt="link a Vol Media" />
                <input type="image" id="vol_data" src="/public/img/vol_data.png" alt="link a Vol Data" />
            </div>
        </div>

    </div>








</body>

</html>