<form action="/password" method="POST" >
    <input type="password" name="old_password" placeholder="Insert Old Password">
    <br>
    <input type="password" name="password" placeholder="Insert New Password">

    <button type="submit">
        Signup
    </button>

</form>