<form action="/signup" method="POST" enctype="multipart/form-data">
    <input type="text" name="client" placeholder="Insert User">
    <input type="password" name="password" placeholder="Insert Password">
    <input type="text" name="person" placeholder="Insert Person">
    <div class="custom-file">
        <input type="file" name="image" class="custom-file-input" id="inputGroup"
            aria-describedby="inputGroupFileAddon">
        <label class="custom-file-label" for="inputGroupFile">Choose File</label>
    </div>

    <button type="submit">
        Signup
    </button>

</form>