<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Vol Audio</title>
	<link rel="stylesheet" href="../main_style.css">
	<link rel="stylesheet" type="text/css" href="Vol Report/vol_report.css" />
</head>

<body>

	<div class="sidenav">
		<a href="#">Enero</a>
		<a href="#">Febrero</a>
		<a href="#">Marzo</a>
		<a href="#">Abril</a>
		<a href="#">Mayo</a>
		<a href="#">Junio</a>
		<a href="#">Julio</a>
		<a href="#">Agosto</a>
		<a href="#">Septiembre</a>
		<a href="#">Octubre</a>
		<a href="#">Noviembre</a>
		<a href="#">Diciembre</a>
	</div>


	<main>

		<div class="audio">

			<audio src="../videos/smb_underwater.mp3" controls></audio>

		</div>

	</main>

	<script src="/public/vol_report.js"></script>






</body>

</html>